@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #252b42;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 10rem;
  gap: 4rem;
}

.navbar-brand {
  display: flex;
  align-items: flex-start;
  padding: 1rem 4rem 1rem 0;
}

.navbar-brand > h3 {
  font-size: 2rem;
  font-weight: 700;
}

.navbar-collapse {
  font-weight: 600;
  display: flex;
  padding: 0.3rem 0;
  justify-content: center;
  align-items: center;
  gap: 18.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-nav > li {
  list-style-type: none;
}

.navbar-nav a,
.navbar-nav-login a {
  color: #fff;
  text-decoration: none;
}

.navbar-nav-login {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.btn {
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  padding: 1.5rem 2.5rem;
  align-items: center;
  gap: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #23a6f0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.col-headline {
  display: flex;
  flex-direction: column;
  width: 57.3rem;
  gap: 3rem;
}

#headline {
  font-size: 5.4rem;
}

.col-headline > h4 {
  /* font-size: 1rem; */
  font-weight: 500;
}

.cta {
  display: flex;
  gap: 1rem;
}

.btn-round {
  border-radius: 3.7rem;
}

.btn-outline {
  background-color: inherit;
  border: 0.1rem solid #fff;
}

.features {
  display: flex;
  flex-direction: column;
  padding: 5rem 15rem;
}

.feature-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 5rem 2rem 0;
}

.feature-heading > h2 {
  font-size: 2.5rem;
}

.feature-heading > p {
  font-size: 0.8rem;
}

.row-cards {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.container-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  color: #737373;
  width: 32.8rem;
  font-size: 1.4rem;
}

.icn-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 100%;
  background-color: #23a6f0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  padding: 2rem 15rem;
}

.container-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  gap: 8rem;
}

.testimonials-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.testimonials-heading {
  font-size: 1.8rem;
}

.testimonials-heading > p {
  font-size: 0.8rem;
}

.user-testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737373;
}

.testimonial-card > img {
  width: 9.6rem;
}

.testimonial-card {
  display: flex;
  padding: 4rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  width: 74rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #dedede;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-content > p {
  text-align: center;
  /* font-size: rem; */
  font-weight: 500;
}

.testimonial-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.testimonial-name > h3 {
  color: #252B42;
  font-size: 2rem;
}

.testimonial-name > p {
  font-size: 1rem;
  font-weight: 600;
}
