@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 16px -> 1rem */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #252b42;
  color: #fff;
}

.nav-container {
  display: flex;
  max-width: 82rem;
  margin: 0 auto;
  padding: 1rem 8.5rem;
  gap: 2.5rem;
}

.logo {
  display: flex;
  max-width: 10rem;
  padding: 0.8rem 2.5rem 0.8rem 0;
  align-items: center;
  cursor: pointer;
}

.logo > h3 {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  gap: 14rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link,
.link > a,
.btn-text {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.account {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn {
  display: inline-flex;
  background-color: #23a6f0;
  padding: 0.9375rem 1.5625rem;
  gap: 0.8rem;
  align-items: center;
  border: none;
  border-radius: 0.3rem;
}

.btn:hover {
  background-color: #2a7cc7;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-row {
  display: flex;
  max-width: 90rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

.header-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 35rem;
}

.header-text-content > h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 5rem;
}

.header-text-content > h4 {
  font-size: 1rem;
  font-weight: 500;
  max-width: 20rem;
}

.cta {
  display: flex;
  gap: 0.5rem;
}

.btn-round {
  border-radius: 2rem;
}

.btn-outline {
  background-color: inherit;
  border: 1px solid #fff;
}

.image {
  display: flex;
  align-items: center;
}

.image > img {
  max-width: 45rem;
}

.features-container {
  display: flex;
  flex-direction: column;
  max-width: 82rem;
  margin: 0 auto;
  padding: 5rem 8.5rem;
  gap: 2.5rem;
}

.features-text-container {
  display: flex;
  flex-direction: column;
  max-width: 65rem;
  align-items: flex-start;
}

.features-text-row {
  display: flex;
  max-width: 30rem;
  flex-direction: column;
  align-items: flex-start;
}

.features-main-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.features-main-content > h2,
.testimonial-text-container > h2 {
  font-size: 2.5rem;
}

.features-main-content > p,
.testimonial-text-container > p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  display: inline-block;
}

.features-cards-container {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.features-cards-row-1,
.features-cards-row-2 {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.5rem;
  background-color: #fff;
  color: black;
  gap: 2.2rem;
}

.feature-card-content {
  display: flex;
  align-items: center;
  width: 75%;
  padding: 1rem 0;
  gap: 1rem;
}

.features-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 4.2rem;
  max-height: 4.2rem;
  background-color: #23a6f0;
  padding: 1.5rem;
  border-radius: 100%;
}

.feature-title {
  color: #737373;
  font-size: 1rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 82rem;
  margin: 0 auto;
  padding: 5rem 8.5rem;
  gap: 2.5rem;
}

.testimonial-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 36rem;
  gap: 0.6rem;
}

.testimonial-text-container > p {
  text-align: center;
  display: inline;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 10rem;
  gap: 1.5rem;
  max-width: 46rem;
  background-color: #fff;
  color: #737373;
}

.testimonial-card-content {
  display: flex;
  flex-direction: column;
  max-width: 27rem;
  align-items: center;
  gap: 1.5rem;
}

.user-credential {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.user-credential > h3 {
  color: #252B42;
}

.testimonial-card-content > p {
  font-size: 0.8rem;
  text-align: center;
}
